@{
    ViewData["Title"] = "Home";
}

<h1>Welcome</h1>
<div>
    <p>In 'Products' you can</p>
    <ul>
        <li>Add new products</li>
        <li>Add products to the "current" shopping cart</li>
    </ul>
</div>
<div>
    <p>In 'Shopping Carts' you can</p>
    <ul>
        <li>Add new shopping carts</li>
        <li>Edit existing shopping carts</li>
        <li>Pick a shopping cart to become your "current" cart. New products will always get added to the current shopping cart</li>
        <li>Remove shopping carts</li>
    </ul>
</div>

<div>
    <p>
        When the "current" shopping cart gets deleted, the cart that was created last will become the new "current" shopping cart.
    </p>
    <p>
        When you delete the last remaining shopping cart, the application will create a new default cart for you. This will become the "current" shopping cart.
    </p>
</div>

